*.dll
*.exe
*.sdf
*.suo
*.user
*.rar
*.opensdf
/Win32*/
/Win64*/
/test/
/private/
/[Rr]eleases/
/dist/
/__pycache__/
/build/unix/m4/libtool.m4
/build/unix/m4/lt*.m4
/build/unix/Makefile
/build/unix/Makefile.in
/build/unix/aclocal.m4
/build/unix/autom4te.cache
/build/unix/compile
/build/unix/config.guess
/build/unix/config.log
/build/unix/config.status
/build/unix/config.sub
/build/unix/configure
/build/unix/depcomp
/build/unix/install-sh
/build/unix/libtool
/build/unix/ltmain.sh
/build/unix/missing
/build/win/.vs/
/build/win/*/[Dd]ebug*/
/build/win/*/[Rr]elease*/
.deps/
.dirstamp
.libs/
.venv/
*.o
*.lo
*.a
*.la
*.lai
*~
